<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Feed.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manjari:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="feed-div">
      <div class="rectangle-div8"></div>
      <div class="rectangle-div9"></div>
      <div class="about-div2">About</div>
      <div class="sign-out-div2">Sign out</div>
      <div class="trashure-div2">trashure</div>
      <div class="how-it-works2">How it works</div>
      <div class="filters-div1">filters</div>
      <div class="category-div1">category</div>
      <div class="availability-div1">availability</div>
      <div class="borrowing-history-div1">borrowing history</div>
      <div class="rectangle-div10"></div>
      <div class="image-2-div2"></div>
      <div class="div1">+</div>
      <div class="rectangle-div11"></div>
      <div class="rectangle-div12"></div>
      <div class="rectangle-div13"></div>
      <div class="borrow-div1">borrow :)</div>
    </div>

    <script></script>
  </body>
</html>
