<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title></title>
    <meta name="description" content="" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Home.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manjari:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="home-div">
      <button class="rectangle-button1"></button>
      <div class="rectangle-div14"></div>
      <div class="trashure-div3"><div class="trashure-div4">trashure</div></div>
      <div class="login-div">login</div>
      <div class="create-an-account">create an account</div>
      <div class="about-div3">About</div>
      <div class="how-it-works3">How it works</div>
    </div>

    <script></script>
  </body>
</html>
